<div class="cover-all">
    <div class="top margin">&nbsp;</div>
    <div *ngIf="mode == 'List'" class="ts narrow container">
        <div class="ts pointing secondary horizontally scrollable menu">
            <a class="item" [ngClass]="{'active' : currentTab === 'All'}" (click)="filterTask('All')">
                Tasks ({{ allTasksCount }})
            </a>
            <a class="item" [ngClass]="{'active' : currentTab === 'InProgress'}" (click)="filterTask('InProgress')">
                In Progress ({{ inProgressTasksCount }})
            </a>
            <a class="item" [ngClass]="{'active' : currentTab === 'Completed'}" (click)="filterTask('Completed')">
                Completed ({{ completedTasksCount }})
            </a>
        </div>
        <button class="ts small secondary labeled icon button" (click)="addTask()">
            <i class="plus icon"></i>
            Add Task
        </button>
        <div class="top margin">&nbsp;</div>
        <div class="ts stackable three cards">
            
            <div *ngFor="let item of filterItems" class="ts card" [ngClass]="{'star' : item.star, 'positive' : item.complete}">
                <div class="content">
                    <div class="actions">
                        <div class="ts separated secondary compact icon buttons">
                            <button class="ts button" (click)="changeTaskStarStatus(item.id)">
                                <i class="icon star" [ngClass]="item.star ? '' : 'empty'" ></i>
                            </button>
                            <button *ngIf="!item.complete" class="ts button" (click)="editTask(item.id)">
                                <i class="icon edit"></i>
                            </button>
                            <button *ngIf="!item.complete" class="ts button" (click)="removeTask(item.id)">
                                <i class="icon remove"></i>
                            </button>
                        </div>
                    </div>
                    <div class="ts checkbox">
                        <input type="checkbox" [id]="'tasks_' + item.id" [checked]="item.complete" (change)="changeTaskCompletedStatus(item.id)">
                        <label [for]="'tasks_' + item.id"></label>
                    </div>
                    <div class="header">{{ item.title }}</div>
                </div>
                <div class="extra content">
                    <span *ngIf="item.deadline"><i class="icon calendar"></i>{{ item.deadline | date:'yyyy-MM-dd' }}</span>
                    <span *ngIf="!item.deadline"><i class="icon calendar"></i>Deadline not set.</span>
                    <span *ngIf="item.files && item.files.length != 0"><i class="icon file outline"></i></span>
                    <span *ngIf="item.comment"><i class="icon conversation"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="mode != 'List'" class="ts narrow container">
        <div class="ts form" [formGroup]="taskForm">
            <div class="fields">
                <div class="fifteen wide field" [ngClass]="taskForm.controls.taskName.touched && taskForm.invalid ? 'error' : ''">
                    <label>Task name</label>
                    <input placeholder="Type Something Here…" formControlName="taskName">
                    <span style="color: #CE5F58;" *ngIf="taskForm.controls.taskName.touched && taskForm.invalid">Task name required.</span>
                </div>
                <div class="one wide field">
                    <label>&nbsp;</label>
                    <button class="ts secondary icon button" (click)="taskForm.controls.taskStar.setValue(!taskForm.controls.taskStar.value)">
                        <i class="icon star" [ngClass]="taskForm.controls.taskStar.value ? '' : 'empty'" ></i>
                    </button>
                </div>
            </div>
            
            <div class="field">
                <label><i class="icon calendar"></i>Deadline</label>
                <div class="two fields">
                    <div class="field">
                        <input type="date" formControlName="taskDeadlineDate">
                    </div>
                    <div class="field">
                        <input type="time" formControlName="taskDeadlineTime">
                    </div>
                </div>
            </div>
            <div class="field">
                <label><i class="icon file outline"></i>Attachment</label>
                <input type="file">
            </div>
            <div class="resizable field">
                <label><i class="icon comments outline"></i>Comment</label>
                <textarea placeholder="Type your memo here…" formControlName="taskComment"></textarea>
            </div>
        </div>
        <div class="top margin">&nbsp;</div>
        <button class="ts small primary labeled icon button" (click)="exitModifyMode('Save')">
            <i class="save icon"></i>
            Save
        </button>
        <button class="ts small labeled icon button" (click)="exitModifyMode('Cancel')">
            <i class="cancel icon"></i>
            Cancel
        </button>
    </div>
    <p>&nbsp;</p>
    <div class="ts dimmer" #pLoader>
        <div class="ts loader"></div>
    </div>
</div>