<div class="cover-all">
    <div class="ts vertically padded heading slate">
        <div class="ts narrow container">
            <span class="header">The F2E - 前端修練精神時光屋</span>
            <span class="description">目前已有 {{signupCount}} 位挑戰者</span>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="ts narrow container">
        <div class="ts centered card">
            <div class="content">
                <div class="ts form">
                    <div class="inline fields">
                        <div class="twelve wide field">
                            <label>Email</label>
                            <input type="email" placeholder="請輸入報名時填寫的信箱" [(ngModel)]="email">
                        </div>
                        <div class="four wide field">
                            <button class="ts primary labeled icon button" (click)="checkStatusFromApi()">
                                <i class="search icon"></i>查詢
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ts centered inverted card" *ngIf="status" [ngClass]="status.success ? 'positive' : 'warning'">
            <div class="content">
                <div class="header">{{ status.message }}</div>
                <div class="description"></div>
            </div>
        </div>
    </div>
    <div class="ts dimmer" #pLoader>
        <div class="ts loader"></div>
    </div>
</div>