<div class="cover-all">
    <div class="ts vertically padded heading slate">
        <div class="ts narrow container">
            <span class="header">The F2E - 前端修練精神時光屋</span>
            <span class="description">目前已有 {{ signupCount }} 位挑戰者，{{ this.RemainingTime }}</span>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="ts narrow container">
        <div class="ts centered card">
            <div class="content">
                <div class="ts form" [formGroup]="checkForm">
                    <div class="inline fields">
                        <div class="twelve wide field" [ngClass]="checkForm.controls.email.touched && checkForm.invalid ? 'error' : ''">
                            <label>Email</label>
                            <input placeholder="請輸入報名時填寫的信箱" formControlName="email">
                        </div>
                        <div class="four wide field">
                            <button class="ts primary labeled icon button" (click)="checkStatusFromApi()" #checkBtn>
                                <i class="search icon"></i>查詢
                            </button>
                        </div>
                    </div>
                </div>
                <span style="color: #CE5F58;" *ngIf="checkForm.controls.email.touched && checkForm.invalid">Email 格式錯誤或未填寫</span>
            </div>
        </div>
        <div class="ts centered segment" *ngIf="status" [ngClass]="status.success ? 'positive' : 'warning'">
            <b>{{ status.message }}</b>
            <p *ngIf="status.success">
                嗨，{{ status.nickName }}<br/>
                你已於 {{ status.timeStamp  | date: 'yyyy-MM-dd hh:mm:ss'}} 報名成功 (報名組別： {{ status.skill }})
            </p>
            <p *ngIf="!status.success">
                現在加入都不嫌晚，趕快來<a href="https://goo.gl/forms/MCibT77OJAVDXm0o1" target="_blank">報名</a>吧～
            </p>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="ts dimmer" #pLoader>
        <div class="ts loader"></div>
    </div>
</div>