<div class="cover-all">
    <div class="top margin">&nbsp;</div>
    <div class="ts narrow container">
        <div class="ts tiny fluid steps">
            <div class="step" [ngClass]="{'active' : currentStep === 0, 'completed' : currentStep > 0}">
                <i class="add user icon"></i>
            </div>
            <div class="step" [ngClass]="{'active' : currentStep === 1, 'completed' : currentStep > 1}">
                <i class="notice icon"></i>
            </div>
            <div class="step" [ngClass]="{'active' : currentStep === 2, 'completed' : currentStep > 2}">
                <i class="upload icon"></i>
            </div>
            <div class="step" [ngClass]="{'active' : currentStep === 3, 'completed' : currentStep > 3}">
                <i class="payment icon"></i>
            </div>
        </div>
        <div class="header centered">
            <span class="title">{{ step[currentStep].title }}</span><br/>
            <span class="sub-title">{{ step[currentStep].subTitle }}</span>
        </div>
        <div class="ts form" *ngIf="currentStep === 0"  [formGroup]="accountForm">
            <div class="field" [ngClass]="accountForm.controls.account.touched && accountForm.controls.account.invalid ? 'error' : ''">
                <label>Account</label>
                <input formControlName="account">
                <span style="color: #CE5F58;" *ngIf="accountForm.controls.account.touched && accountForm.controls.account.invalid">INVALID EMAIL</span>
            </div>
            <div class="field" [ngClass]="accountForm.controls.password.touched && accountForm.controls.password.invalid ? 'error' : ''">
                <label>Password</label>
                <input type="password" formControlName="password">
                <span style="color: #CE5F58;" *ngIf="accountForm.controls.password.touched && accountForm.controls.password.invalid">MINIMUM 8 CHARACTERS</span>
            </div>
            <div class="field" [ngClass]="accountForm.controls.confirmPassword.touched && accountForm.controls.confirmPassword.invalid ? 'error' : ''">
                <label>Comfirm Password</label>
                <input type="password" formControlName="confirmPassword">
                <span style="color: #CE5F58;" *ngIf="accountForm.controls.confirmPassword.touched && accountForm.controls.confirmPassword.invalid">NOT MATCH</span>
            </div>
            <button class="ts primary button" [ngClass]="{'disabled': accountForm.invalid, 'pulsing': !accountForm.invalid}" (click)="nextStep(1)">SUBMIT & NEXT</button>
        </div>
        <div class="ts form" *ngIf="currentStep === 1"  [formGroup]="infoForm">
            <div class="two fields">
                <div class="field">
                    <label>Name (optional)</label>
                    <input formControlName="name">
                </div>
                <div class="field" [ngClass]="infoForm.controls.phone.touched && infoForm.controls.phone.invalid ? 'error' : ''">
                    <label>Phone *</label>
                    <input formControlName="phone">
                    <span style="color: #CE5F58;" *ngIf="infoForm.controls.phone.touched && infoForm.controls.phone.invalid">INVALID PHONE NUMBER</span>
                </div>
            </div>
            <div class="field">
                <label>Birthday (optional)</label>
                <input type="date" formControlName="birthday">
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Address</label>
                    <select class="ts basic dropdown" formControlName="city">
                        <option>Koahsiung City</option>
                    </select>
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <select class="ts basic dropdown" formControlName="district">
                        <option>Yancheng Dist</option>
                        <option>Gushan Dist</option>
                        <option>Zuoying Dist</option>
                        <option>Nanzi Dist</option>
                        <option>Sanmin Dist</option>
                        <option>Xinxing Dist</option>
                        <option>Qianjin Dist</option>
                        <option>Lingya Dist</option>
                        <option>Qianzhen Dist</option>
                        <option>Qijin Dist</option>
                        <option>Xiaogang Dist</option>
                        <option>Fengshan Dist</option>
                        <option>Linyuan Dist</option>
                        <option>Daliao Dist</option>
                        <option>Dashu Dist</option>
                        <option>Dashe Dist</option>
                        <option>Renwu Dist</option>
                        <option>Niaosong Dist</option>
                        <option>Gangshan Dist</option>
                        <option>Qiaotou Dist</option>
                    </select>
                </div>
            </div>
            <div class="field" [ngClass]="infoForm.controls.detailAddress.touched && infoForm.controls.detailAddress.invalid ? 'error' : ''">
                <input formControlName="detailAddress">
                <span style="color: #CE5F58;" *ngIf="infoForm.controls.detailAddress.touched && infoForm.controls.detailAddress.invalid">REQUIRED FILED</span>
            </div>
            <button class="ts primary button" [ngClass]="{'disabled': infoForm.invalid, 'pulsing': !infoForm.invalid}" (click)="nextStep(2)">SUBMIT & NEXT</button>
        </div>
        <div *ngIf="currentStep === 2">

        </div>
        <div *ngIf="currentStep === 3">

        </div>
    </div>

    <div class="ts dimmer" #pLoader>
        <div class="ts loader"></div>
    </div>
</div>